@media screen and (min-width: 901px){
  #image-wrapper {
    @include changeCols(3,1fr);
  } 
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  #image-wrapper {
    @include changeCols(2,1fr);
    width: 85%;
  }
  #nav-bottom a {
    font-size: 1.2rem;
  }
  .recipe-heading, .about-heading, .faq-heading {
    font-size: 4rem;
  }
  .bg-wrapper {
    width: 67%;
  }
}  

@media screen and (max-width: 500px) {
  #image-wrapper {
    @include changeCols(1,1fr);
    width: 90%;
  }
  .caption {
    font-size: 1.6rem;
  }
  #nav-bottom a {
    font-size: 1.1rem;
  }
  .recipe-heading, .about-heading, .faq-heading {
    font-size: 4rem;
  }
  .bg-wrapper {
    width: 80%;
  }
}