/* tablets landscape and up are already included in the default 3-col-grid, I would give 4 cols to larger screens for a "real project" */

// tablets portrait

@media screen and (min-width: 577px) and (max-width: 768px) {
  #image-wrapper {
    @include changeCols(2,1fr);
    width: 85%;
  }
  #nav-bottom a {
    font-size: 1.1rem;
  }
  .recipe-heading, .about-heading, .faq-heading {
    font-size: 4rem;
  }
  .bg-wrapper {
    width: 67%;
  }
}  

// small screens

@media screen and (max-width: 576px) {
  #image-wrapper {
    @include changeCols(1,1fr);
    width: 90%;
  }
  .caption {
    font-size: 1.6rem;
  }
  #nav-bottom a {
    font-size: 1rem;
  }
  .recipe-heading, .about-heading, .faq-heading {
    font-size: 4rem;
  }
  .bg-wrapper {
    width: 80%;
  }
  #nav-top a:nth-child(2) {
    font-size: 0.9rem;
  }
}